# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

.DS_Store

0*/

*/as_submitted/all_contributions.csv
linked_unique_names.csv

.Rproj.user
*.Rproj

jaro-winkler*/